<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422889200499-m93g8909a6qpkbovjilqs2a3j19lq81f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422889200499-m93g8909a6qpkbovjilqs2a3j19lq81f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>422889200499-ap823khf38to7731m6dkmvpeos95s4pb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlQipTCEsD6e78VDLcw6j5zFUGMHaV1k8</string>
	<key>GCM_SENDER_ID</key>
	<string>422889200499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quranMobile</string>
	<key>PROJECT_ID</key>
	<string>quran-tracker-25</string>
	<key>STORAGE_BUCKET</key>
	<string>quran-tracker-25.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422889200499:ios:7bcdb3c662751919354306</string>
	<key>DATABASE_URL</key>
	<string>https://quran-tracker-25-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>